[submodule "docker/realsense-ros"]
	path = docker/realsense-ros
	url = https://github.com/juandelos/realsense-ros.git

[submodule "docker/proximity_monitor"]
	path = docker/proximity_monitor
	url = https://github.com/arkadiy-telegin/proximity_monitor.git
